.prog{
    width: 100%;
    margin-left: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
}
.container-div{
    margin-right: 2rem;
}

.skill-title{
    font-size: 1.2rem;
    font-family: poppins bold;
}

.progress-bar{
    width: 300px;
    background-color: inherit;
    margin-top: -1.6rem;
}